
<div *ngIf="capitals.length === 0; else table" class="alert alert-warning text-center">
  No hay países que mostrar
</div>

<ng-template #table>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Icon</td>
        <td>Bandera</td>
        <td>Nombre</td>
        <td>Capital</td>
        <td>Población</td>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let capital of capitals; let i = index">
        <td>{{ i + 1}}</td>
        <td>{{ capital.flag }}</td>
        <td>
          <img [src]="capital.flags.svg" alt="capital.name.common">
        </td>
        <td>{{ capital.name.common }}</td>
        <td>{{ capital.capital }}</td>
        <td>{{ capital.population | number }}</td>
        <td>
          <a [routerLink]="['/countries/by', capital.ccn3]">Info</a>
        </td>
      </tr>
    </tbody>
  </table>

</ng-template>
